".source.js, .source.jsx, .source.ts, .source.js-semantic":
  "addEventListener":
    "prefix": "ae"
    "body": """
    ${1:document}.addEventListener('${2:event}', function(e) {
    \t${0:// body...}
    });
    """
