".source.js, .source.jsx, .source.ts":
  "for in":
    "prefix": "fi"
    "body": """
    for (${1:prop} in ${2:obj}) {
    \tif (${2:obj}.hasOwnProperty(${1:prop})) {
    \t\t${0:// body...}
    \t}
    }
    """
