".source.js, .source.jsx, .source.ts, .source.js-semantic":
  "for in":
    "prefix": "fi"
    "body": """
    for (${2:prop} in ${1:obj}) {
    \tif (!${1:obj}.hasOwnProperty(${2:prop})) { continue; }
    \t${0:// body...}
    }
    """
