".source.js, .source.jsx, .source.ts":
  "function as a property of an object":
    "prefix": "ofn"
    "body": """
    ${1:functionName}: function(${2:arguments}) {
    \t${3:// body...}
    }
    """
