".source.js, .source.jsx, .source.ts, .source.js-semantic":
  "JQuery Ajax":
    "prefix": "jqa"
    "body": """
    $.ajax({
        method: '${1:GET}',
        url: ${2:/},
        dataType: '${3:json}',
        data: '${4:data}',
    })
    .done(function( data ) {
        ${5://data...}
    })
    .fail(function( jqXHR, textStatus ) {
        console.error( "Request failed: " + textStatus );
    });
    """
